.nav-item {
    margin: 0 10px;
    text-decoration: none;
    color: white
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(39, 172, 202); /* Example RGB color */
    align-items: center;
}

.nav-home-icon {
    width: auto;
    height: 25px;
}
